<launch>
<arg name="vehicle" default="default" doc="Name of vehicle."/>
<arg name="node_name" default="move_base"/>
<arg name="pkg_path" default="$(find nav)"/>
<arg name="global_planner" default="global_planner"/>
<arg name="local_planner" default="dwa" doc="Which local planner do you want to use. Now can use [dwa] or [teb]"/>
<arg name="costmap_plugin_sensor_source" default="obstacle_layer/laser_scan_sensor"/>
<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="a" default="0"/>
<group ns="$(arg vehicle)">
    
    <remap from="/$(arg vehicle)/map" to="/map"/>
    <remap from="initialpose"               to="/$(arg vehicle)/initialpose"/>
    <!-- amcl -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <rosparam command="load" file="$(arg pkg_path)/param/amcl/$(arg vehicle).yaml"/>
        <param name="transform_tolerance" type="double" value="0.5" />
        <param name="gui_publish_rate" type="double" value="10.0" />
        <param name="base_frame_id" type="str" value="$(arg vehicle)/base_link"/>
        <param name="odom_frame_id" type="str" value="$(arg vehicle)/odom"/>
        <param name="use_map_topic" type="bool" value="true"/>
        <param name="initial_pose_x" type="double" value="$(arg x)"/>
        <param name="initial_pose_y" type="double" value="$(arg y)"/>
        <param name="initial_pose_a" type="double" value="$(arg a)"/>
    </node>

    <!-- Navigation stack -->
    <!-- move_base -->
    <node pkg="$(arg node_name)" type="$(arg node_name)" name="$(arg node_name)" respawn="false" clear_params="true">
        <!-- parameters -->
        <!-- global_planner -->
        <rosparam file="$(arg pkg_path)/param/global_planner_params.yaml" command="load"/>
        <!-- <rosparam command="load" file="$(arg pkg_path)/param/$(arg node_name)/global_planner/$(arg global_planner)/$(arg vehicle).yaml"/> -->
        <!-- local_planner -->
        <!--<rosparam command="load" file="$(arg pkg_path)/param/$(arg node_name)/local_planner/$(arg local_planner)/$(arg vehicle).yaml"/>-->
        <rosparam file="$(arg pkg_path)/param/$(arg local_planner)_local_planner_params.yaml" command="load"/>

        <!-- global_costmap -->
            <!-- observation sources located in costmap_common.yaml -->
            <!--<rosparam ns="global_costmap" command="load" file="$(arg pkg_path)/param/$(arg node_name)/common_costmap/$(arg vehicle).yaml"/>-->

            <!-- frame parameter -->
            <param name="global_costmap/robot_base_frame" type="str" value="$(arg vehicle)/base_link"/>
            <param name="global_costmap/$(arg costmap_plugin_sensor_source)/sensor_frame" type="str" value="$(arg vehicle)/laser_frame"/>

            <!-- topic parameter -->
            <param name="global_costmap/$(arg costmap_plugin_sensor_source)/topic" type="str" value="/$(arg vehicle)/scan"/>

            <!-- costmapt parameter-->
            <rosparam file="$(arg pkg_path)/param/global_costmap_params.yaml" command="load"/>

        <!-- local_costmap -->
            <!-- observation sources located in costmap_common.yaml -->
            <!--<rosparam ns="local_costmap" command="load" file="$(arg pkg_path)/param/$(arg node_name)/common_costmap/$(arg vehicle).yaml"/>-->

            <!-- frame parameter -->
            <param name="local_costmap/robot_base_frame" type="str" value="$(arg vehicle)/base_link"/>
            <param name="local_costmap/global_frame" type="str" value="$(arg vehicle)/odom"/>
            <param name="local_costmap/$(arg costmap_plugin_sensor_source)/sensor_frame" type="str" value="$(arg vehicle)/laser_frame"/>

            <!-- topic parameter -->
            <param name="local_costmap/$(arg costmap_plugin_sensor_source)/topic" type="str" value="/$(arg vehicle)/scan"/>

            <!-- costmapt parameter-->
            <rosparam file="$(arg pkg_path)/param/local_costmap_params.yaml" command="load"/>
        

        <!-- move_base -->
        <rosparam file="$(arg pkg_path)/param/move_base_params.yaml" command="load"/>
        <!--<rosparam command="load" file="$(arg pkg_path)/param/$(arg node_name)/$(arg vehicle).yaml"/>-->

    </node>
    </group>
</launch>
